In [129]:
import pandas as pd


import requests


import re

In [108]:
api_aemet= "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJsdWNpYS5zYW5jaGV6dXJhbi5kaWF6QGdtYWlsLmNvbSIsImp0aSI6IjJmNzRiMGFjLTI0NjAtNGM3Ni05NDc0LTU5Y2YxNWJhMTcyNyIsImlzcyI6IkFFTUVUIiwiaWF0IjoxNjk5MzQ0ODQ3LCJ1c2VySWQiOiIyZjc0YjBhYy0yNDYwLTRjNzYtOTQ3NC01OWNmMTViYTE3MjciLCJyb2xlIjoiIn0.3LcTtgdtTMOG46LoNbu6mDhDca_wGaoIPIlGFty5pjM"

In [135]:
#for dia in range (1,5):
url_aemet= f"https://opendata.aemet.es/opendata/api/prediccion/especifica/montaña/pasada/area/gre1/dia/1/?api_key={api_aemet}"
llamada = requests.get(url_aemet)
datos_json = llamada.json()
    #for datos in datos_json['included']

In [136]:
llamada

In [137]:
datos_json

{'descripcion': 'exito',
 'estado': 200,
 'datos': 'https://opendata.aemet.es/opendata/sh/65b43c3d',
 'metadatos': 'https://opendata.aemet.es/opendata/sh/57a35d70'}

In [111]:
datos_json[ "metadatos"]

'https://opendata.aemet.es/opendata/sh/57a35d70'

In [112]:
llamada

In [121]:
datos_json

{'descripcion': 'exito',
 'estado': 200,
 'datos': 'https://opendata.aemet.es/opendata/sh/65b43c3d',
 'metadatos': 'https://opendata.aemet.es/opendata/sh/57a35d70'}

In [122]:
json_prediccion = requests.get(datos_json["datos"])

In [123]:
json_prediccion

In [124]:
datos_totales =json_prediccion.json()

In [134]:
datos_totales[1]

IndexError: list index out of range

In [131]:
df= pd.DataFrame(datos_totales)

In [132]:
df

,origen,seccion,id,nombre
0,{'productor': 'Agencia Estatal de Meteorología...,[{'apartado': [{'cabecera': 'Estado del cielo'...,gre1,Predicción

TypeError: list indices must be integers or slices, not str

In [60]:
dia =(1, 2, 3,4)

In [61]:
url_aemet = f"https://opendata.aemet.es/opendata/api/prediccion/especifica/montaña/pasada/area/gre1/dia/{dia}?api_key={api_aemet}"

In [53]:
llamada = requests.get(url_aemet)

In [57]:
llamada.status_code

200

In [58]:
llamada_json = llamada.json()

In [59]:
llamada_json

{'descripcion': 'Error al obtener los datos', 'estado': 404}

In [35]:
datos = llamada_json["datos"]